body  
{    
    background-image: url(../imagens/blaidd.jpg); 
    font-family:Arial, Helvetica, sans-serif; 
}  

@font-face {
    font-family: 'optimusprincepssemiboldRg';
    src: url("../fontes/OptimusPrinceps.ttf")
         
}

.login{  
        width: 390px;  
        overflow: hidden;  
        margin: auto;  
        padding: 110px; 
        font-family: 'optimusprincepssemiboldRg';  
 
          
}  
h2{  
    text-align: center;  
    color: white;
    padding: 20px; 
    font-family: 'optimusprincepssemiboldRg'; 
    font-size: 50px;
}  
label{  
    color: #ffffff;  
    font-size: 17px;  
    font-family: 'optimusprincepssemiboldRg';
}  
#Email{  
    width: 300px;  
    height: 30px;  
    border:white;
    border-radius: 10px;  
    padding-left: 8px;  
}  
#Senha{  
    width: 300px;  
    height: 30px;  
    border: white;  
    border-radius: 10px;  
    padding-left: 8px;  
    
      
}  
#Entrar{  
    width: 300px;  
    height: 30px;  
    border: white;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: white; 
    background-color: gray;
    font-family: 'optimusprincepssemiboldRg';
    font-size: 17px;
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: left;  
    background-color: black;  
}  